header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 56px;
  width: 100%;
  max-width: calc(100% - 32px);
  margin: 16px auto 24px;

  .logo {
    max-width: 145px;
  }

  .search-input {
    display: none;
  }

  @media (min-width: 769px) {
    max-width: calc(100% - 64px);
    margin: 32px auto 24px;
    .search-input {
      display: block;
      max-width: 431px;
    }
  }

  @media (min-width: 1025px) {
    .search-input {
      max-width: 752px;
    }
  }
}
