header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  height: 56px;
  width: 100%;
  max-width: calc(100% - 32px);
  margin: 16px auto 24px;

  .left-col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    gap: 24px;
  }

  .logo-container {
    min-width: 200px;
  }

  .logo {
    max-width: 145px;
  }

  .search-input {
    display: none;
    width: 100%;
  }

  @media (min-width: 769px) {
    max-width: calc(100% - 64px);
    margin: 32px auto 24px;
    .search-input {
      display: block;
      max-width: 431px;
    }
  }

  @media (min-width: 1025px) {
    .search-input {
      max-width: 752px;
    }
  }
}
