@use './assets/scss/variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--title);
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--dark-blue);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
